:root {
    --FONT-GAME: 'Permanent Marker', cursive;
    --FONT-COLOR: yellow;
    --BLOCKS-WIDTH: 30px
}

body {
    text-align: center;
    background-color: darkred;
}

.large_container {
    display: flex;
    flex-wrap: wrap;
    width: 630px;
    margin: 0 auto;
    position: relative;
}

h1 {
    text-align: center;
    font-family: var(--FONT-GAME);
    color: var(--FONT-COLOR);
    text-shadow: 5px 5px 5px black;
    margin: 10px;
}

.line {
    width: 100%;
    height: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.wall {
    width: 30px;
    background: url('./img/bricks_wall.jpeg') round;
}

.space {
    width: 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./img/floor.jpeg');
    background-repeat: round;
}

.start {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 270px;
    left: 0px;
    background: url('./img/hamburguer.png') round;
}

.burguer, .lettuce, .onion, .sauce, .cheese, .picles, .finish {
    width: var(--BLOCKS-WIDTH);
}

.burguer {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./img/burguer.png') round;
}

.picles {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./img/picles.png') round;
}

.lettuce {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./img/alface.png') round;
}

.sauce {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./img/molho_especial.png') round;
}

.onion {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./img/onion.png') round;
}

.cheese {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./img/cheese.png') round;
}

.finish {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('./img/mouth.png') round;
}

.reset_button {
    margin-top: 20px;
    padding: 15px;
    background-color: red;
    color: var(--FONT-COLOR);
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
    font-family: var(--FONT-GAME);
}

.span_msg {
    margin-top: 10px;
    font-family: var(--FONT-GAME);
    color: var(--FONT-COLOR);
    text-shadow: 5px 5px 5px black;
}

.reset_button:hover {
    box-shadow: 7px 7px 7px black;
    background-color: white;
    color: red;
    transition: 0.2s;
}

.reset_button:active {
    box-shadow: 2px 2px 2px black;
    background-color: white;
    color: red;
}

.burguer_list {
    position: absolute;
    left: -150px;
    text-align: left;
    font-family: var(--FONT-GAME);
    color: var(--FONT-COLOR);
}

.burguer_list ul {
    list-style: none;
    padding: 0;
}

